/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) and (max-width: 576px) {
  .pagina{
    padding-top: 15%;
  }

  #pagina-bienvenida{
    background-image: url('../img/img1.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

   #pagina-historia{
    background-image: url('../img/historia.jpg');
    height: 2800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-family: 'Passion One', cursive;
    font-size: 175%;

  }

  #nombre-asociacion{
    font-family: 'Shojumaru', cursive;
    text-align: center;
    font-size: 250%;
  }

  #asoc-logo{
    height: 25%;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) {
  body{
      background-color: yellow;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
  body{
      background-color: red;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 993px){
  body{
        background-color: blue;
    }
}

